on boot
    chown system system /sys/devices/platform/soc/14017000.dsi/hbm
    chown system system /sys/panel_feature/hbm_mode
    chown system system /sys/panel_feature/ui_status

service vendor.fingerprint-nothing /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.nothing
    class late_start
    user system
    group system input uhid
    shutdown critical
